/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Start */
body {
  font-family: "Open Sans", sans-serif;
}

/* ===header start */
header {
  width: 100%;
  height: 65px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-ul {
  margin-left: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav-ul-li {
  margin: 10px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 15px;
}
.nav-ul-li-link {
  text-decoration: none;
  list-style-type: none;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}
.nav-btn {
  color: #fff;
  width: 159px;
  height: 40px;
  background: #00bafc;
  border-radius: 5px;
  border: none;
}
.nav-btn:hover {
  background-color: #fff;
  border: #00bafc solid;
  color: #00bafc;
}

/* =======header end======= */

/* intro start */
.context {
  margin-top: 200px;

  width: 100%;
}
.context > h1 {
  width: 470px;
  height: 78px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #000000;
}
.context > p {
  margin-top: 16px;
  width: 465px;
  height: 74px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.context > button {
  margin-top: 16px;
  width: 232px;
  height: 40px;
  background: #0dc3ff;
  border-radius: 5px;
  border: none;
  color: #fff;
}
.context button:hover {
  background-color: #00b9fca8;
  color: #ffffff;
}
.context button:active {
  background: #00bafc 60%;
  color: #ffffff;
}

.WFH-img {
  margin-top: -260px;
  margin-left: 700px;
}
/* intro end */

/* hero start */
.hero-context {
  margin-top: 150px;
  width: 100%;
}
.hero-context h2 {
  width: 117px;
  height: 31px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  margin-left: 45%;
  color: #000000;
}
.hero-context p {
  width: 719px;
  height: 48px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-left: 20%;
  color: #000000;
  background: #ffffff;
}

.hero-cards {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.hero-cards-2 {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-right: 50px;
}
.hero-card {
  width: 320px;
  height: 260px;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.hero-card:hover {
  -webkit-box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.hero-card:active {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.hero-card img {
  padding: 60px;
}
.hero-card h3 {
  margin-top: -55px;
  margin-left: 35%;
}
.hero-card p {
  margin-top: 10px;
  margin-left: 100px;
}
.hero-btn {
  color: #fff;
  width: 159px;
  height: 40px;
  background: #00bafc;
  margin-top: 50px;
  margin-left: 350px;
  border-radius: 5px;
  border: none;
}
.hero-btn:hover {
  background-color: #fff;
  border: #00bafc solid;
  color: #00bafc;
}
.hero-order {
  margin-left: 50px;
}
.hero-order a {
  margin-left: 16px;
  width: 192px;
  height: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #00bafc;
}
/* hero end */

/* middle start */
.middle-text {
  margin-top: 160px;
  text-align: center;
}
.middle-text p {
  width: 719px;
  height: 48px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  margin-left: 200px;
  color: #000000;
}
.middle-img1 {
  margin-top: 20px;
  margin-left: 190px;
}
.middle-card1 {
  display: block;
  margin-top: -170px;
  margin-left: 570px;
}
.middle-card1 > h3 {
  width: 277px;
  height: 26px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;

  color: #000000;
}
.middle-card1 p {
  width: 493px;
  height: 48px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.middle-card2 {
  margin-top: 300px;
  margin-left: 200px;
}
.middle.card2 h3 {
  width: 355px;
  height: 26px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #000000;
}
.middle-card2 p {
  width: 719px;
  height: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.middle-img2 {
  margin-top: -150px;
  margin-left: 800px;
}
.middle-card3 {
  display: block;
  margin-top: -170px;
  margin-left: 570px;
}
.middle-img4 {
  margin-top: 100px;
  margin-left: 200px;
}
.middle-card {
  margin-top: -100px;
  margin-left: 600px;
}

.middle-btn {
  color: #fff;
  width: 159px;
  height: 40px;
  background: #00bafc;
  margin-top: 150px;
  margin-left: 510px;
  border-radius: 5px;
  border: none;
}
.middle-btn:hover {
  background-color: #fff;
  border: #00bafc solid;
  color: #00bafc;
}
.middle-btn:active{
  background-color: #fff;
  color: #0dc3ff;
}


/* middle end */

/* last section start */
.last-card {
  width: 100%;
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 56px 100px;
  gap: 16px;
  width: 1200px;
  height: 543px;
  background: #00bafc;
}
.last-card h2 {
  width: 203px;
  height: 31px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}
.last-card p {
  width: 719px;
  height: 48px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -ms-flex-positive: 0;
      flex-grow: 0;
}
.last-card-card {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px;
  gap: 16px;

  width: 348px;
  height: 304px;

  background: #ffffff;
  border-radius: 5px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;

  -ms-flex-positive: 0;

      flex-grow: 0;
}

/* form and select */

form {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
input {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 16px;
  width: 300px;
  height: 56px;
  background: #f3f3f3;
  border-radius: 5px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  border: none;
}
#select {
  width: 300px;
  height: 56px;
  background: #f3f3f3;
  border-radius: 5px;
  border: none;
}
.last-button {
  width: 167px;
  height: 40px;
  background-color: #0dc3ff;
  color: #ffffff;
  border: solid #0dc3ff;
  border-radius: 5px;
}
.last-button:hover {
  background-color: #fff;
  color: #0dc3ff;
}
.last-button:active{

  color: #ffffff;
  background: rgba(0, 186, 252, 0.6);
border-radius: 5px;

}
/* footer start */
footer {
  width: 100%;
  background:#191919
}
.footer-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  height: 338px;
  background: #191919;
  padding: 100px;
}
.footer-card h2 {
  width: 149px;
  height: 26px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 10px;
}
.footer-card p {
  width: 320px;
  height: 120px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  position: absolute;
  margin-top: 50px;

  color: #ffffff;
}
.footer-ul {
  width: 80px;
  height: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-left: 300px;
}
.footer-li {
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 5px;
}

.footer-li-link {
  color: #fff;
  list-style-type: none;
  text-decoration: none;
}
.footer-li1 {
  width: 143px;
  height: 26px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  margin-bottom: 15px;
  text-decoration: none;
  list-style-type: none;
}
.footer-li-21 {
  width: 242px;
  height: 26px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  list-style-type: none;
  margin-bottom: 20px;
}
.footer-li-22 {
 
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  list-style-type: none;
  margin-bottom: 20px;
}
.footer-li-23 {

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  list-style-type: none;
  margin-bottom: 20px;
}
.footer-li-24 {
  
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #ffffff;
  list-style-type: none;
  margin-bottom: 20px;
}
.footer-ul-2 {
  margin-left: 200px;
  list-style-type: none;
  margin-bottom: 20px;
}
footer-li-2 {
  list-style-type: none;
  width: 70px;
  height: 24px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
}
.footer-li-link-2 {
  text-decoration: none;
  color: #fff;
}
